<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Title</title>
  <script src="../vue.js"></script>
</head>
<body>
  <div id="app">
    <!-- operate array: push,pop,shift,unshift,splice,sort,reverse -->
    <!-- operate array: chrome: vm.list = {[...]} -->
    <!-- :key="index.id": A unique identifier -->
    <!-- (item, index) in list: 推荐写 of -->
    <div v-for="(item, index) of list" :key="index.id">{{ item.text }} --- {{ index }}</div>
    <hr />
    <!-- when cycle, template not render in page -->
    <template v-for="(item, index) of list" :key="index.id">
      <div>{{ item.text }} --- {{ index }}</div>
      <span> {{ item.text }} </span>
    </template>
    <hr />
    <!-- operate obj: chrome: Vue.set(vm.userInfo, 'address', 'guangzhou') -->
    <!-- operate obj: chrome: Vue.$set(vm.userInfo, 'address', 'guangzhou') -->
    <div v-for="(item, key, index) of userInfo">{{ item }} --- {{ key }} --- {{ index }}</div>
    <hr />
    <!-- operate obj: chrome: Vue.set(vm.userInfoArray, 1, 5) -->
    <!-- operate obj: chrome: Vue.$set(vm.userInfoArray, 2, 6) -->
    <div v-for="(item, key, index) of userInfoArray">{{ item }} --- {{ key }} --- {{ index }}</div>
  </div>
  <script>
    // push, pop, shift, unshift, splice, sort, reverse
    let vm = new Vue({
      el: '#app',
      data() {
        return {
          list: [
            {
              id: '01',
              text: 'Vue'
            },
            {
              id: '02',
              text: 'React'
            },
            {
              id: '03',
              text: 'Angular'
            }
          ],
          userInfo: {
            name: 'mike',
            age: 28,
            gender: 'male'
          },
          userInfoArray: [1, 2, 3]
        }
      }
    })
  </script>
</body>
</html>
