.container >>> .swiper-container
  overflow: inherit
.container
  display: flex
  flex-direction: column
  justify-content: center
  z-index: 99
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  background: #000
  .wrapper
    // 正方形
    // overflow: hidden
    padding-bottom: 100%
    width: 100%
    height: 0
    // 正方形
    .gallary-img
      width: 100%
    .swiper-pagination
      bottom: -1rem
      color: #fff
