<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>动态组件与v-once指令</title>
  <script src="../vue.js"></script>
</head>
<body>
  <div id="app">
    <child-one v-if="type === 'child-one'">child-one</child-one>
    <child-two v-if="type === 'child-two'">child-two</child-two>
    <button @click="handleClick">change</button>
    <hr />
    <!-- 动态组件: 根据 :is 的变化自动加载不同组件 -->
    <!-- 销毁组件，重新创建组件 -->
    <component :is="type"></component>
    <button @click="handleClick">动态组件</button>
  </div>
  <script>
    Vue.component('child-one', {
      template: `<div v-once>child-one</div>` // v-once: 会缓存, 组件切换时不必销毁，提高静态资源性能
    })
    Vue.component('child-two', {
      template: `<div v-once>child-two</div>`
    })
    let vm = new Vue({
      el: '#app',
      data() {
        return {
          type: 'child-one'
        }
      },
      methods: {
        handleClick() {
          this.type = this.type === 'child-one' ? 'child-two' : 'child-one'
        }
      }
    })
  </script>
</body>
</html>
