<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>动态组件与 v-once</title>
  <script src="../vue.js"></script>
</head>
<body>
  <div id="app">
    <child-one v-if="type === 'child-one'">child-one</child-one>
    <child-two v-if="type === 'child-two'">child-two</child-two>
    <button @click="handleClick">change</button>
    <hr />
    <!-- Dynamic components: Automatically load different components according to the change of :is -->
    <component :is="type"></component>
    <button @click="handleClick">动态组件</button>
  </div>
  <script>
    Vue.component('child-one', {
      template: `<div v-once>child-one</div>` /*-once: Can cache, component switch does not have to destroy, improve static resource performance*/
    })

    Vue.component('child-two', {
      template: `<div v-once>child-two</div>`
    })

    let vm = new Vue({
      el: '#app',
      data() {
        return {
          type: 'child-one'
        }
      },
      methods: {
        handleClick() {
          this.type = this.type === 'child-one' ? 'child-two' : 'child-one'
        }
      }
    });
  </script>
</body>
</html>
