.header
  display: flex
  line-height: $headerHeight
  color: #fff
  background: $bgColor
  .header-left
    float: left
    width: .64rem
    .back-icon
      text-align: center
      font-size: .4rem
  .header-input
    flex: 1
    margin: .12rem 0 0 .2rem
    padding: 0 0 0 .2rem
    border-radius: .1rem
    height: .64rem
    line-height: .64rem
    color: #ccc
    background: #fff
  .header-right
    float: right
    padding: 0 .1rem
    min-width: 1.04rem
    text-align: center
    color: #fff
    .arrow-icon
      margin-left: -.04rem
      font-size: .24rem
