.icons >>> .swiper-container
  // swiper高度只有一半导致下部分不能拖动
  padding-bottom: 50%
  height: 0
.icons
  margin-top: .1rem
  .icon
    float: left
    position: relative
    overflow: hidden
    padding-bottom: 25%
    width: 25%
    height: 0
    .icon-img
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: .44rem
      box-sizing: border-box
      padding: .1rem
      .icon-img-content
        display: block
        margin: 0 auto
        height: 100%
    .icon-desc
      position: absolute
      left: 0
      right: 0
      bottom: 0
      height: .44rem
      line-height: .44rem
      text-align: center
      color: $darkTextColor
      ellipsis()
