.icons >>> .swiper-container
  padding-bottom: 50%
  height: 0
  overflow: hidden
.icons
  margin-top: .1rem
  .icon
    float: left
    // <---固定宽高比whopp
    position: relative
    width: 25%
    height: 0
    padding-bottom: 25%
    overflow: hidden
    // 固定宽高比--->
    .icon-img
      box-sizing: border-box
      // <-- PLR
      position: absolute
      left: 0
      right: 0
      // PLR -->
      top: 0
      bottom: .44rem // for icon-desc
      padding: .1rem
      .icon-img-content
        display: block
        margin: 0 auto // block 居中
        height: 100%
    .icon-desc
      // <-- PLR
      position: absolute
      left: 0
      right: 0
      // PLR -->
      bottom: 0
      height: .44rem
      line-height: .44rem
      text-align: center
      color: $darkTextColor
      ellipsis()
