.title
  margin: .2rem 0 0 0
  line-height: .8rem
  text-indent: .2rem
  background: #eee
.item
  overflow: hidden
  display: flex
  height: 1.9rem
  .item-img
    padding: .1rem
    width: 1.7rem
    height: 1.7rem
  .item-info
    flex: 1
    padding: .1rem
    min-width: 0
    .item-title
      line-height: .54rem
      font-size: .32rem
      ellipsis()
    .item-desc
      line-height: .4rem
      color: #ccc
      ellipsis()
    .item-button
      margin: .16rem 0 0 0
      padding: 0 .2rem
      border-radius: .06rem
      line-height: .44rem
      color: #fff
      background: #ff9300
