// >>>: 样式穿透
// 不受 scoped 影响
// .wrapper 里面出现 .swiper-pagination-bullet-active 就可以添加样式
.wrapper >>> .swiper-pagination-bullet-active
  background: #fff
.wrapper
  // 图片宽高比固定比值
  overflow: hidden
  padding-bottom: 31.25%
  width: 100%
  height: 0
  // 图片宽高比固定比值
  background: #eee
  .swiper-img
    width: 100%
