.title
  line-height: .8rem
  text-indent: .2rem
  background: #eee
.item-img-wrapper
  // 固定宽高比
  overflow: hidden
  padding-bottom: 37.09%
  height: 0
  // 固定宽高比
  .item-img
    width: 100%
.item-info
  padding: .1rem
  .item-title
    line-height: .54rem
    font-size: .32rem
    ellipsis()
  .item-desc
    line-height: .4rem
    color: #ccc
    ellipsis()
