.banner
  position: relative
  // 固定宽高
  overflow: hidden
  height: 0
  padding-bottom: 55%
  // 固定宽高
  .banner-img
    width: 100%
  .banner-info
    display: flex
    position: absolute
    left: 0
    right: 0
    bottom: 0
    line-height: .6rem
    color: #fff
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8))
    .banner-tittle
      flex: 1
      padding: 0 .2rem
      font-size: .32rem
    .banner-number
      margin-top: .14rem
      padding: 0 .4rem
      border-radius: .2rem
      height: .32rem
      line-height: .32rem
      font-size: .24rem
      background: rgba(0, 0, 0, .8)
      .banner-icon
        font-size: .24rem
