.item-title-icon
  position: relative
  left: .06rem
  top: .06rem
  display: inline-block
  margin-right: .1rem
  width: .36rem
  height: .36rem
  background: url(http://s.qunarzz.com/piao/image/touch/sight/detail.png) 0 -.45rem no-repeat
  background-size: .4rem 3rem
.item-title
  padding: 0 .2rem
  line-height: .8rem
  font-size: .32rem
.item-chilren
  padding: 0 .2rem
