<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>父子组件传值</title>
  <script src="../vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-model="inputValue" />
    <button @click="handleBtnClick">submit</button>
    <ul>
      <todo-item
        v-for="(item, index) in list"
        :key="index"
        :content="item"
        @delete="handleItemDelete"
      ></todo-item>
    </ul>
  </div>
  <script>
    let TodoItem = {
      props: ['content', 'index'],
      template: '<li @click="handleBtnClick">{{content}}</li>',
      methods: {
        handleBtnClick() {
          // 向外触发事件
          this.$emit('delete', this.index)
        }
      }
    }

    let app = new Vue({
      components: {
        TodoItem: TodoItem
      },
      el: '#app',
      data() {
        return {
          inputValue: '',
          list: []
        }
      },
      methods: {
        handleBtnClick() {
          this.list.push(this.inputValue)
          this.inputValue = ''
        },
        handleItemDelete(index) {
          this.list.splice(index, 1)
        }
      }
    })
  </script>
</body>
</html>
