.header
  overflow: hidden
  position: relative
  height: $headerHeight
  line-height: $headerHeight
  text-align: center
  font-size: .32rem
  color: #fff
  background: $bgColor
  .header-back
    position: absolute
    top: 0
    left: 0
    width: .64rem
    text-align: center
    font-size: .4rem
    color: #fff
