.border-topbottom
  &:before
    border-color: #ccc
  &:after
    border-color: #ccc
.border-bottom
  &:before
    border-color: #ccc
.list
  /* 相当于 width: 100% */
  position: absolute
  left: 0
  right: 0
  /* 相当于 width: 100% */
  top: 1.58rem
  bottom: 0
  overflow: hidden
  .title
    padding-left: .2rem
    line-height: .54rem
    font-size: .26rem
    color: #666
    background: #eee
  .button-list
    padding: .1rem .6rem .1rem .1rem
    overflow: hidden // 子级浮动, 父级触发 BLC, 不与 float 重叠
    .button-wrapper
      float: left
      width: 33.33%
      .button
        margin: .1rem
        padding: .1rem 0
        border: .02rem solid #ccc
        border-radius: .06rem
        text-align: center
  .item-list
    .item
      padding-left: .2rem
      line-height: .76rem
